2021

## W2 (2021.1.4-1.8)

### Golang 限制 gorotine 数量

- 协程池

池化解决的问题：

```
1.频繁的创建开销
2.等待时占用的资源
```

Golang 中大部分情况不需要使用协程池，因为 gorotine 非常轻量级，默认2kb。一些极端情况下需要追求性能可以使用协程池，实现资源的复用。

> 开源方案：https://github.com/panjf2000/ants

- channel + sync

使用有缓冲 channel 设置并发值，使用 sync.WaitGroup 保证所有子协程能正常退出

```go
// Glimit struct
type Glimit struct {
  n int
  c chan struct{}
}

// New initialization Glimit struct
func New(n int) *Glimit {
  return &Glimit{
    n: n,
    c: make(chan struct{}, n),
  }
}
// Run f in a new goroutine but with limit.
func (g *Glimit) Run(f func()) {
  g.c <- struct{}{}
  go func() {
    f()
    <-g.c
  }()
}

var wg = sync.WaitGroup{}

func main() {
  number := 10
  g := New(2)
  for i := 0; i < number; i++ {
    wg.Add(1)
    value :=i
    goFunc := func() {
      // 做一些业务逻辑处理
      fmt.Printf("go func: %d\n", value)
      time.Sleep(time.Second)
      wg.Done()
    }
    g.Run(goFunc)
  }
  wg.Wait()
}
```

>Reference: https://cloud.tencent.com/developer/article/1654647

### RPC

> RPC 的全称是 Remote Procedure Call，是一种进程间通信方式。它允许程序调用另一个进程上（通常是共享网络的另一台机器）的过程或函数，而不用程序员显式编码这个远程调用的细节，就像调用本地方法一样。

***应用调用另一个应用的方法解决方案***

- HTTP API：接口定义规范 Restful
- 远程过程调用(RPC)
  - 动态代理
  - 序列化和反序列化
  - 通信
    - 四层：TCP\UDP
    - 七层：HTTP
  - 异常处理

***RPC 和 HTTP***

HTTP 信息封装臃肿，但是普适灵活通用，跨语言跨平台

RPC 效率高，可定义 RPC 协议，相比 HTTP 协议 RPC 可封装服务发现、错误重试等面向服务的高级特性。

## W3 (1.11-1.17)

### InfluxDB 数据保留策略

保留策略 duration 时间单位：ns、u、ms、s、m、h、d、w

Shard group 分片：InfluxDB 将数据存储在若干分片中，不同的保留策略分片时间范围不同。

### Grafana+ webhook 实现企业微信告警

> Reference: https://github.com/n0vad3v/g2ww

### Grafana Alerting 告警图片无法直接访问 

- GF_SERVER_ROOT_URL 设置环境变量

- 修改配置文件设置 root_url

```
$ sudo docker run -d --name grafana -p 3000:3000 -v /root/grafana/data:/var/lib/grafana -e "GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource" -e "GF_SERVER_ROOT_URL=http://x.x.x.x:3000"
 grafana/grafana:7.3.5-ubuntu
```

### Go 进程资源限制

#### Cgroup

限制 CPU 和内存

```
memory.limit_in_bytes
memory.swappiness
cpu.cfs_period_us
cpu.cfs_quota_us
cgroup.procs
```

> 代码实现参考：https://github.com/songjiayang/climits

#### systemd

```
[Service]
CPUQuota=20%
MemoryMin=bytes, MemoryLow=bytes
MemoryHigh=bytes
MemoryMax=bytes // 超过限制被 kill
```

> Reference: https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html

#### ulimit

限制用户对系统资源的使用

### Etcd 

```
2021-01-15 10:22:34.114214 W | rafthttp: the clock difference against peer b62a44d034d2cbaa is too high [1m51.902738581s > 1s]
```

时间同步问题，解决方法：

1. 安装 ntp `yum install -y ntp`

2. 手动或定时同步时间服务器

> Reference: https://github.com/etcd-io/etcd/issues/7051



## W4 (1.18-1.24)

### Socket

socket 是应用层和传输层中间的抽象层， 将 TCP/IP 层复杂的操作抽象为接口供应用层调用实现进程在网络中通信。（可以理解为 TCP/IP 网络的 API）

socket 使用一种`打开-读/写-关闭` 模式，使用 TCP 协议通讯的 socket 示例如下：

![image-20210123162125177](https://hk-abner.oss-cn-hongkong.aliyuncs.com/markdown/image-20210123162125177.png)

### Golang 网络编程

服务端：Listen-Accept 模式，监听端口阻塞 `accept `操作等待客户端连接。客户端连接上后 `accept` 调用返回连接 `connection` 对象，然后使用 goroutine 处理连接

客户端：使用 net.Dial 或 net.DialTimeout 建立连接

> Reference: https://tonybai.com/2015/11/17/tcp-programming-in-golang/




## W5 (1.25-1.31)

### go build 编译优化参数

> Reference: https://blog.abnerzhao.com/posts/go-build/





## W6 (2.1-2.7)

### worker_connections are not enough 

修改 worker_connections，增加 woker 进程的连接数

```
events {
        #Large number based on your situation
        worker_connections 20000; 
}
```

> Reference: https://craftypixels.com/worker-connections-are-not-enough/#:~:text=This%20usually%20happens%20when%20Nginx,connections%20allowed%20for%20the%20workers.

### golang:1.15.7-alpine  x509: certificate signed by unknown authority

镜像没有安装导入 CA 证书，apk 安装 CA 证书，Golang 标准库中的 SSL 会使用系统的 CA 证书

```
FROM golang:1.15.7-alpine AS builder
...
apk --no-cache --no-progress add -U tzdata make ca-certificates
...
COPY --from=builder /etc/ssl/certs/ca-certificates.crt /etc/ssl/certs/
...
```

> Reference: https://github.com/aliyun/alibaba-cloud-sdk-go/issues/350

## W7 (2.8-2.14)

### Docker 镜像导入导出

```
$ docker --help

import      Import the contents from a tarball to create a filesystem image // 导入容器包并创建镜像
export      Export a container's filesystem as a tar archive // 将容器导出为 tar 包
load        Load an image from a tar archive or STDIN // 从tar包或标准输入载入镜像
save        Save one or more images to a tar archive (streamed to STDOUT by default) // 将镜像保存为 tar 包
```

> Reference：https://docs.docker.com/engine/reference/commandline/docker


## W8 (2.15-2.21)

### Golang 开发者成长路线图

![](https://raw.githubusercontent.com/Alikhll/golang-developer-roadmap/master/i18n/zh-CN/golang-developer-roadmap-zh-CN.png)

> Reference：https://github.com/Alikhll/golang-developer-roadmap

### Golang 时间格式化

- time to string

> func (t Time) Format(layout string) string

layout 字符串格式，可使用 time 包预定义的也可自定义

```
const (
    ANSIC       = "Mon Jan _2 15:04:05 2006"
    UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
    RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
    RFC822      = "02 Jan 06 15:04 MST"
    RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
    RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
    RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
    RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
    RFC3339     = "2006-01-02T15:04:05Z07:00"
    RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
    Kitchen     = "3:04PM"
    // Handy time stamps.
    Stamp      = "Jan _2 15:04:05"
    StampMilli = "Jan _2 15:04:05.000"
    StampMicro = "Jan _2 15:04:05.000000"
    StampNano  = "Jan _2 15:04:05.000000000"
)

// 自定义
time.Now().Format("2006-01-02 15:04:05")
```

- string to time

> func Parse(layout, value string) (Time, error)

- time to timestamp

```
now := time.Now()      // current local time
sec := now.Unix()      // number of seconds since January 1, 1970 UTC
nsec := now.UnixNano() // number of nanoseconds since January 1, 1970 UTC
```

- timestamp to time

```
//Unix Timestamp to time.Time
timeT := time.Unix(tUnix, 0)
```

## W9 (2.22-2.28)

### git diff

比较文件在工作区和缓冲区的区别

```
git diff   # 尚未提交到暂存区的改动
git diff --cached  # 已提交到暂存区的改动
git diff HEAD # 已提交和未提交到暂存区的所有改动
```
### Docker 镜像

#### Alpine

Alpine 操作系统是轻量级安全的 Linux 发行版本，Alpine Docker 镜像只有 5M 大小，并有良好的包管理机制、更小的体积和运行时的消耗。Alpine 镜像用于生产实践过程也会碰到一些问题：

- C 库是 musl libc，相比 glibc 更小、更简单、更安全，glibc 有很多额外扩展，但 musl libc 并不包含
- 时区问题：无法通过 TZ 指定时区，需要安装 tzdata
- 访问 https 站点问题：x509: certificate signed by unknown authority，解决方法参考: https://github.com/abnerzhao/flag/issues/7#issuecomment-774647537

#### scratch 

scratch 是一个空镜像，可以使用它作为基础镜像用来运行包含所有依赖的二进制程序。scratch 镜像基本不占空间，最终镜像的大小和二进制文件大小一致。

scratch 镜像存在的问题：

- 没有shell，不包含任何调试工具
- 缺少 lib 链接库


## W10 (3.1-3.7)

### Nginx容器日志打印到终端

```
$ cat /etc/nginx/nginx.conf
...
access_log /dev/stdout;
...
```
Dockerfile
```
FROM nginx:1.19.8-alpine

ENV TZ=Asia/Shanghai
WORKDIR /data
COPY ./nginx.conf /data/

EXPOSE 8080
ENTRYPOINT ["nginx", "-c", "/data/nginx.conf", "-g", "daemon off;error_log /dev/stdout info;"]
```




## W11 (3.8-3.14)

### ulimit 限制

- ulimit
- prlimit
- docker ulimit set

### Docker 动态加载 nginx 动态模块

> Refrence: https://gist.github.com/hermanbanken/96f0ff298c162a522ddbba44cad31081

## NGINX Lua 模块参数 

> Refrence: https://www.nginx.com/resources/wiki/modules/lua/#ngx-var-variable



## W12 (3.15-3.21)

### 内核参数

> Refrence: https://www.kernel.org/doc/html/latest//networking/ip-sysctl.html

### ss 命令

> ss is used to dump socket statistics. It allows showing information similar to netstat.  It can display more TCP and state information than other tools.

`ss` 命令用来获取 socket 统计信息，和 `netstat` 相比可以获取更多详细的TCP和连接信息，比 `netstat` 更快更高效。

`ss` 快的秘诀在于，它利用到了TCP协议栈中 `tcp_diag`。`tcp_diag` 是一个用于分析统计的模块，可以获得Linux 内核中第一手的信息，这就确保了ss的快捷高效。

```shell
// Socket 统计信息
# ss -s
Total: 131 (kernel 225)
TCP:   50 (estab 29, closed 16, orphaned 0, synrecv 0, timewait 16/0), ports 0

Transport Total     IP        IPv6
*	  225       -         -
RAW	  0         0         0
UDP	  3         2         1
TCP	  34        33        1
INET	  37        35        2
FRAG	  0         0         0

# ss -t -a // 显示 TCP 连接
# ss -u -a // 显示 UDP 连接
```

### etcd 自动压缩

etcd 存储多个版本的数据，默认的存储大小限制是 2G，对于历史版本需要定时压缩清理，减少磁盘和内存占用提高集群稳定性。

自动压缩可通过配置项 `--auto-compaction-retention` 来设置，具体使用请参考官方文档。

如果已经超过限制告警，可以手动进行压缩清理。

```shell
$ etcdctl --endpoints=http://192.168.1.1:2379 alarm list
memberID:18146459216445554198 alarm:NOSPACE

# 获取当前版本
$ rev=$(ETCDCTL_API=3 etcdctl --endpoints=:2379 endpoint status --write-out="json" | egrep -o '"revision":[0-9]*' | egrep -o '[0-9]*')

# 压缩所有旧版本
$ ETCDCTL_API=3 etcdctl compact $rev
compacted revision 1516

# 碎片整理
$ ETCDCTL_API=3 etcdctl defrag
Finished defragmenting etcd member[127.0.0.1:2379]

# 解除警告
$ ETCDCTL_API=3 etcdctl alarm disarm
memberID:13803658152347727308 alarm:NOSPACE
```

## W13 (3.22-3.28)

### Golang  url query param encode

- URL Encoding a Query string in Golang

```
url.QueryEscape(queryParam)
```

- URL Encoding multiple Query parameters in Golang

```
params := url.Values{}
params.Add("name", "@Rajeev")
params.Add("phone", "+919999999999")

fmt.Println(params.Encode())
```
> Refrence: https://www.urlencoder.io/golang/


### windows 守护进程

sc nssm



## W15 (4.5-4.11)

### 获取 shell 命令执行时间

```shell
$ time [cmd]

$ time ping -c 1 baidu.com
PING baidu.com (39.156.69.79) 56(84) bytes of data.
64 bytes from 39.156.69.79 (39.156.69.79): icmp_seq=1 ttl=44 time=45.5 ms

--- baidu.com ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 45.534/45.534/45.534/0.000 ms

real	0m0.095s
user	0m0.001s
sys	0m0.004s
```

### 卸载 go get package

> 1. It's safe to just delete the source directory and compiled package file. Find the source directory under $GOPATH/src and the package file under $GOPATH/pkg/<architecture>, for example: $GOPATH/pkg/windows_amd64
> 2. go clean

###  统计文件重复行

```shell
// 统计各行出现次数
$ sort testfile1 | uniq -c
$ uniq -c testfile 

// 找出文件中重复的行
$ sort testfile1 | uniq -d
```





## W16 (4.12-4.18)

### Drone CI 报错

```
toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit
```

解决办法：

注册docker hub 账户，生成本地验证文件

```
$ cat /root/.docker/config.json
{
	"auths": {
		"https://index.docker.io/v1/": {
			"auth": "eGlueWVvcHNkZXY6eGlueWVvcHNkZXY="
		}
	},
	"HttpHeaders": {
		"User-Agent": "Docker-Client/19.03.13-beta2 (linux)"
	}
}
```

修改 .drone.yml 文件

```
- name: push-image
  image: plugins/docker
  pull: if-not-exists
  settings:
    registry: dockeryard.ppdaicorp.com
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    config:
      from_secret: docker_auth_secret
    repo: dockeryard.ppdaicorp.com/ppccloud.ppdaicorp.com
    prune: true
    insecure: true
    tags: ${DRONE_TAG}.${DRONE_COMMIT:0:10}
```

![image-20210412192302619](https://hk-abner.oss-cn-hongkong.aliyuncs.com/markdown/image-20210412192302619.png)

> 参考：https://discourse.drone.io/t/how-to-prevent-dockerhub-pull-rate-limit-errors/8324

### Redis set error

redis: can't marshal v1.agentInfo (implement encoding.BinaryMarshaler) 

### Go  休眠随机时间

### Go exec.Command  nohup

https://github.com/go-cmd/cmd/issues/20

### pidof & pgrep

### 日志 reopen






## W17(4.19-4.25)

- 取余和取模区别

a % b 

如果 a 和 b 符号相同，取余取模结果一样

如果 a 和 b 符号不相同，得到的整数商必然小于0，**取模运算向负无穷方向取整，取余运算向0方向取整**

```
a = 4 , b = -3

第一步：求整数商c = a/b
第二步：计算模或者余数 r = a - (c * b)

第一步：
4/(-3) = -1.333...3..3(无限循环)
对于取模运算，得到的整数商将为-2（向负无穷取整）
对于取余运算，得到的整数商将为-1（向0取整）

取模结果为 c = -2
取余结果为 c = -1

第二步：
对于取模运算，r = 4 - ((-2) * (-3)) = 2
对于取余运算，r = 4 - ((-1) * (-3)) = 1

取模结果为2
取余结果为1
```

> Reference: https://juejin.cn/post/6844903985762025485

- timewait

> Reference: https://blog.huoding.com/2013/12/31/316

- iowait 

```
iowait is time that the processor/processors are waiting (i.e. is in an idle state and does nothing), during which there in fact was outstanding disk I/O requests.
```

CPU 处于 idle 状态等待 I/O 完成。CPU 四个主要状态 user sys idle iowait 表示 CPU 处于此状态的平均比例

排查命令：top iotop iostat vmstat

top 查看所有 CPU 以及单个 CPU 的状态百分比

iotop 查看具体进程的 I/O 情况

> iotop使用Python语言编写而成，要求Python2.5（及以上版本）和Linux kernel2.6.20（及以上版本）

iostat 汇报磁盘活动统计情况、汇报出CPU使用情况

vmstat 虚拟内存状态

> Reference: https://lenciel.com/2014/02/hunting-the-iowait-problem-maker/

- golang xml 解析

使用自带的 `encoding/xml` 库

> https://golang.org/pkg/encoding/xml/
>
> https://tutorialedge.net/golang/parsing-xml-with-golang/

## W23 (5.31-6.4)

### Systemd 服务开机自启动

Systemd 设置开机自启动，系统会自动增加由`/lib/systemd/system/` 到 `/etc/systemd/system/multi-user.target.wants/` 下的软链接，移除开机自启动则删除对应软链接。

```
$ ls /etc/systemd/system/multi-user.target.wants // 查看所有开机自启动的程序
$ systemctl enable httpd.service  // 添加开机自启
$ systemctl disable httpd.service // 移除开机自启

# centos 6 版本使用 chkconfig 命令
$ chkconfig httpd on
```

### systemd 服务日志查看

使用 systemd 统一管理的服务，可使用 `journalctl` 查看日志。

`systemd-journald` 是 systemd 自带的日志系统，通过 `journalctl`命令可以查看内核和应用日志。

```
journalctl -u influxdb.service -f
```

## W24（6.7-6.13）

### go clone/copy a slice

```go
# Method1 
# the result slice b is not nil even if the source slice a is nil.
b = make([]T, len(a))
copy(b, a)

# Method2
# the result slice b is nil even if the source slice a is a non-nil blank slice
b = append([]T(nil), a...)

# Mehtod3
b = nil
if a != nil {
	b = make([]T, len(a))
	copy(b, a)
}

# Method4
# one-line perfect solution
b = append(a[:0:0], a...)
```

> From: https://github.com/go101/go101/wiki/How-to-perfectly-clone-a-slice%3F

### go string multi replace

```go
input := "/v1.0/emp/emp_1/my_stats"
replacer := strings.NewReplacer("/v1.0/", "", "/emp_1/", "_")
output := replacer.Replace(input)
fmt.Println("Output:", output) // Output: emp_my_stats
```

> From: https://stackoverflow.com/questions/34215080/strings-replacer-how-to-replace-all-substrings-at-once

### shell curl set variables

shell 中单引号所见即所得，不会解析变量的值。

```bsh
# method1
curl -d '{"query":"'"$name"'", \"turnOff\":true}' ...

# method2
curl -d "{\"query\":\"$name\", \"turnOff\":true}" ...
```

### go web frameworks

- Beego: An open-source, high-performance web framework for the Go programming language.
- Buffalo: Rapid Web Development w/ Go.
- Echo: A high performance, minimalist Go web framework.
- Gin: HTTP web framework written in Go (Golang). It features a Martini-like API with much better performance.
- Iris: The fastest web framework for Go in The Universe. MVC fully featured. Embrace the future today.
- Revel: A high productivity, full-stack web framework for the Go language.

> From: https://github.com/speedwheel/awesome-go-web-frameworks/blob/master/README.md#core-features


## W25（6.14-6.20）

### 根据IP和掩码获取地址范围（网络地址、广播地址）

```go
func GetIPRange(cidr string) ([]string, error) {
	ip, ipnet, err := net.ParseCIDR(cidr)
	if err != nil {
		return nil, err
	}

	var ips []string
	for ip := ip.Mask(ipnet.Mask); ipnet.Contains(ip); inc(ip) {
		ips = append(ips, ip.String())
	}
	// remove network address
	return ips[1:], nil
}

func inc(ip net.IP) {
	for j := len(ip) - 1; j >= 0; j-- {
		ip[j]++
		if ip[j] > 0 {
			break
		}
	}
}
```
> From: https://gist.github.com/kotakanbe/d3059af990252ba89a82

### 获取掩码数值

```go
// "255.255.255.0" to 24
func GetIPMark(mark string) int {
	mask := net.IPMask(net.ParseIP(mark).To4())
	prefixSize, _ := mask.Size()
	return prefixSize
}
```
> From: https://stackoverflow.com/questions/20971918/golang-number-of-bits-of-an-ip-mask

### mac yarn 命令报错

```
dyld: Library not loaded: /usr/local/opt/icu4c/lib/libicui18n.67.dylib
  Referenced from: /usr/local/bin/node
  Reason: image not found

# 解决方法：
brew uninstall --ignore-dependencies node icu4c
brew install node
```


## W28（7.5-7.11）

### Window 守护进程设置

- sc：https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/sc-config
- nssm：https://nssm.cc/usage

### Windows 设置环境变量

> setx /M PATH "$($env:path);C:\Program Files (x86)\nssm\win64"

### Windows 进程内存分析

安装 debug 工具，使用 umdh + 可视化工具

> From: https://www.assistanz.com/installing-windbg-on-windows-2016-server/
> From: https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/












## W29 (7.12-7.18)

### Windows Signal

Windows 支持的信号有限，在 signal.h 中定义

| *`sig`* value | Description                                    |
| :------------ | :--------------------------------------------- |
| **`SIGABRT`** | Abnormal termination （调用abort导致）         |
| **`SIGFPE`**  | Floating-point error（ 浮点异常）              |
| **`SIGILL`**  | Illegal instruction（ 非法指令）               |
| **`SIGINT`**  | CTRL+C signal                                  |
| **`SIGSEGV`** | Illegal storage access（段错误, 非法指针访问） |
| **`SIGTERM`** | Termination request（kill发出的软件终止）      |

> From: https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/signal?view=msvc-160

### Windows log like tail -f

```
get-content -Path file_path -Tail 10 -Wait
```

Go 项目热加载

> From:https://juejin.cn/post/6861137667007102990

### .gitignore 文件没有生效

```
git rm -rf --cached .
git add .
```

### Make 和 New

```
// The make built-in function allocates and initializes an object of type
// slice, map, or chan (only). Like new, the first argument is a type, not a
// value. Unlike new, make's return type is the same as the type of its
// argument, not a pointer to it. The specification of the result depends on
// the type:
//  Slice: The size specifies the length. The capacity of the slice is
//  equal to its length. A second integer argument may be provided to
//  specify a different capacity; it must be no smaller than the
//  length. For example, make([]int, 0, 10) allocates an underlying array
//  of size 10 and returns a slice of length 0 and capacity 10 that is
//  backed by this underlying array.
//  Map: An empty map is allocated with enough space to hold the
//  specified number of elements. The size may be omitted, in which case
//  a small starting size is allocated.
//  Channel: The channel's buffer is initialized with the specified
//  buffer capacity. If zero, or the size is omitted, the channel is
//  unbuffered.
func make(t Type, size ...IntegerType) Type

// The new built-in function allocates memory. The first argument is a type,
// not a value, and the value returned is a pointer to a newly
// allocated zero value of that type.
func new(Type) *Type
```
### Vim 删除空白字符
```
:%s/^\s\+//  删除行首
:%s/\s\+$//  删除行尾
:%g/^$/d  删除只有一个换行符的空行
```
### Go Web 框架实现

> From:https://segmentfault.com/a/1190000021735864
> From:https://geektutu.com/post/gee.html

### WinRM服务
> From:https://pythonpig.github.io/2020/09/09/%E5%86%85%E7%BD%91%E6%B8%97%E9%80%8F%E4%B9%8BWinRM/



## W30 (7.19-7.25)

### Python 取整

>From:http://kuanghy.github.io/2016/09/07/python-trunc

### Python 字典 value 排序

>From:https://stackoverflow.com/questions/613183/how-do-i-sort-a-dictionary-by-value

### shell 保留最近几个文件

```
rm `ls -t | awk 'NR>5'`
```

> From: https://stackoverflow.com/questions/25785/delete-all-but-the-most-recent-x-files-in-bash

### Python SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 18-19: truncated \UXXXXXXXX escape

- Solution 1: Add a "r" character in the beginning of string.

```python
title = r'\uFFEF'
```

- Solution 2: Change "\" to be "/".

```python
open("C:\Users\Clay\Desktop\test.txt")
change to ->
open("C:/Users/Clay/Desktop/test.txt")
```

- Solution 3: Change "\" to be "\\".

```python
open("C:\Users\Clay\Desktop\test.txt")
change to ->
open("C:\\Users\\Clay\\Desktop\\test.txt")
```

> From: https://clay-atlas.com/us/blog/2019/10/27/python-english-tutorial-solved-unicodeescape-error-escape-syntaxerror/